.reviews {
  margin-top: 30px;
  margin-left: 30px;
}

.reviewsItem {
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.reviewsTitle {
  margin-bottom: 15px;
}
